/* App.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.grid-container {
  height: 100%;
  width: 100%;
  margin: 0;
}

.left-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  text-align: center;
  height: 100%;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000;
  height: 100%;
}

.form-container {
  width: 80%;
}

.login-button {
  margin-top: 0px;
  background-color: #333;
}

.admin-link {
  margin-top: 10px;
  text-align: left;
  display: block;
}

.welcome-text {
  margin-top: 5px;
  text-align: left;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}
